$color-blue: #6231EC;
$color-white: #ffffff;

.customRadio {
    position: absolute;
    display: inline-block;
    opacity: 0;
  
    & + label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      line-height: 1rem;
      margin: 0.5rem;
      color: $color-blue;
  
      span {
        margin-left: 2rem;
      }
  
      &::before,
      &::after {
        content: '';
        position: absolute;
        color: $color-white;
        text-align: center;
        border-radius: 50%;
        border: 2px solid $color-blue;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
      }
    }
  
    &:checked {
      & + label::before {
        content: '';
        color: $color-white;
        border: solid 1px $color-blue;
        animation-duration: 3s;
        animation-delay: 8.5s;
        animation-name: addBackgroundColor;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
}

@keyframes addBackgroundColor {
  from {
    background-color: $color-white;
  }

  to {
    background-color: $color-blue;
  }
}