$color-blue: #6231EC;

.questionCard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 100px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

